<%= render "login" %>

<h1>Welcome to Pilates of the Calibbean!</h1>

<strong>Log in, create a pirate and become the greatest pirate in the world!</strong>

<div>
  <h3>How to play:</h3>
  <p>
    Register now, log in, create a pirate (or pirates) and take them for a ride!
    With your pirates, you can board ships, buy houses and visit ports.
  </p>
  <p>
    Your pirate starts as a mere commoner, with no gold and no prestige. You need to find a ship, board it and plunder
    as you wish! By plundering, you earn gold. Lots of gold! With that, you can buy houses. And by buying luxurious
    houses you gain prestige (depends on a value of the house - more expensive houses give you more prestige. The more
    expensive houses you buy, the more powerful your pirate becomes.
  </p>
  <p>
    But be careful! Other pirates can sink your ship and you become a commoner again, which means you cannot plunder
    no more. If you need more ships or ports to make, you are free to create them.
  </p>
  <p>
    Are you ready for a ride? Go and become the most powerful pirate in the world!
  </p>
</div>
